#newbook {
    background: #ccc url("../img/plus.svg") no-repeat top left;
    padding-left: 32px;
    height: 32px;
}

.read {
    background-color: cornflowerblue;
}

.notread {
    appearance: none;
}

form {
    display: flex;
    flex-direction: column;
}